body {
    background-color: white;
}
.cabeca {
    padding-bottom: 50px;
    border: 1px solid #5EA1DB;
}

a:hover {
    padding: 2px;
}

.imagem {
    height: 200px;
    background-color: #5EA1DB;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

.bt1 {
    border-right-color: white;
}

.bt2 {
    border-left-color: white;
}  

.bt2:hover {
    border-left-color: white;
} 

.caixa-texto {
    background-color: #b5d7fae8;
    border-radius: 0px 10px 10px 0px;
    color: #27435C;
}

.caixa-texto p {
    margin-top: 8%;
    
}

.ch {
    background-color: #5EA1DB;
    text-align: center;
}

.ch img {
    border: 5px solid white;
    border-radius: 100%;
}

.cb {
    background-color: white;
}

.certificado-foto {
    width: 150px;
    height: 150px;
    border-color: #5EA1DB;
    background-color: #5EA1DB;
    text-align: center;
}

.certificado-corpo {
    background-color: #b5d7fae8;
    text-align: center;
}


header {
    background-color: #5EA1DB;
}
.capa h1 {
    font-size: 85px;
}

.caixa {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.226);
}

.caixa-projeto {
    border-radius: 10px;
}

.caixa-projeto:hover {
    padding-right: 10px;
    background-color: #5EA1DB;
}

.titulos {
    color: #27435C;
}

footer {
    font-size: 20px;
    background-color: #5EA1DB;
    text-align: center;
    padding: 20px;
    margin: 0px;
}