@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

body {
    background-color: white;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.cabeca {
    padding-bottom: 50px;
    height: 100vh;
    background: url(capa.png);
    background-size: cover;
}

#navegacao {
    background-color: rgb(24, 26, 28);
    position: sticky;
    padding: 0px;
    top:0;
    opacity: 95%;
    z-index: 1;
}

.links {
    font-weight: bold;
}

#links_id {
    color: white;
}

#links_id:hover {
    background-color: white;
    color: black;
    padding-top: 8px;
}

.foto {
    border: 10px solid white;
    border-radius: 100%;
}

.descricao {
    font-size: 21px;
    text-align: justify;
    font-family: 'Gentium Book Plus', serif;
}

.box-info {
    border-radius: 0px 10px 0px 10px;
    font-family: 'Gentium Book Plus', serif;
    height: 0px;
}

.box-info p {
    font-family: 'Gentium Book Plus', serif;
    font-size: 20px;
}

a:hover {
    padding: 2px;
}

.imagem {
    height: 200px;
    background-color: #212529;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

.img1 {
    opacity: 90%;
}

.img2 {
    opacity: 90%;
}

.img3 {
    opacity: 90%;
}

.img1:hover {
    opacity: 100%;
}

.img2:hover {
    opacity: 100%;
}

.img3:hover {
    opacity: 100%;
}

.bt1 {
    border-right-color: white;
}

.bt2 {
    border-left-color: white;
}  

.bt2:hover {
    border-left-color: white;
} 

.caixa-texto {
    border-radius: 0px 10px 10px 0px;
    border: 3px solid rgba(0, 0, 0, 0.849);
}

.caixa-texto p {
    margin-top: 8%;
    
}

.ch {
    background-color: gray;
    text-align: center;
}

.ch img {
    border: 5px solid white;
    border-radius: 100%;
}

.cb {
    background-color: white;
}

.capa h1 {
    font-size: 85px;
}

.caixa {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.226);
}

.caixa-projeto {
    border-radius: 10px;
}

footer {
    font-size: 20px;
    background-color: #5EA1DB;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}

a {
    text-decoration: none;
}

/* Animações */

[data-anime] {
    opacity: 0;
    transition: .6s;
    z-index: 0;
}

[data-anime="top"] {
    transform: translate(0px, -80px)
}

[data-anime].animate {
    opacity: 1;
    transform: translate(0px, 0px)
}

#caixa-conteudo {
    transition: .10s;
}

@media (min-width: 756px) {

    
    .animate-info {
        padding: 30px;
        height: 200px;
    }

    .capa {

        margin-top: 100px;
    }

    .texto-automatico {
        font-size: 30px;
        padding: 40px 10px 10px 100px;
    }
}
@media (max-width: 765px) {

    .capa {

        margin-top: 30px;
    }

    .ft {
        flex-wrap: wrap;
    }

    .texto-automatico {
        font-size: 30px;
        padding: 40px 10px 10px 20px;
    }

    .imagem {
        height: 200px;
        background-color: #212529;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        padding-top: 30px;
    }

    .caixa-texto {
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        
    }

    .caixa_logo {
        padding: 10px;
    }

    .animate-info {
        padding: 30px;
        height: 350px;
    }

    .texto-cabeca {
        padding: 10px 0px 10px 30px;
    }

    .botoes {
        width: 95vw;
        z-index: 0;
    }
    
    .botao-menu {
        margin: 10px;
    }
}

